@use "../../foundation/_mixin" as m;
.p-service {
    position: relative;
    height: 830px;
    // background-image: url(../images/skill__bg.png);
    // background-size: cover;
    // background-repeat: repeat-y;
    &_button {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        color: black;
    }
    &_contents {
        position: absolute;
        width: 970px;
        height: 550px;
        z-index: 11;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &_content {
        width: 200px;
        height: 210px;
        margin-right: 40px;
        margin-left: 40px;
    }
    &_content_pkg {
        width: 200px;
        height: 200px;
        background-color: rgb(255, 254, 255, 0.7);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_content--title {
        font-style: 2px;
    }
    &_content--price {
        margin-top: 0;
        color: white;
    }
    @include m.mq(sp) {
        background-image: url(../images/skill__bg.png);
        background-position: center;
        background-repeat: repeat;
        background-size: 100%;
        /* cover指定 */
        height: 1700px;
        &-ttl {
            left: 150px;
        }
        &_contents {
            margin-top: 100px;
            width: 250px;
        }
        &_content {
            height: 250px;
        }
        &_button {
            top: 1600px;
        }
    }
    &_s {
        background-color: #ECECEC;
        height: 1200px;
        &_services {
            padding-left: 0;
            background-color: #ECECEC;
            width: 750px;
            height: 90%;
            margin: auto;
            text-align: center;
        }
        &_service {
            margin-top: 50px;
            background-color: #ECECEC;
            &_img {
                width: 400px;
            }
        }
    }
}