@use "../../foundation/_mixin" as m;
.p-work {
    position: relative;
    height: 750px;
    &_ttls {
        position: absolute;
        display: flex;
        left: 70px;
    }
    &_ttl {
        margin: 0;
        font-size: 25px;
        color: #125093;
    }
    &_button {
        position: absolute;
        right: 200px;
        top: 50px;
    }
    &_swiper_wrapper {
        padding-left: 0;
        display: flex;
        width: 1200px;
        height: 600px;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 11;
        padding: 0;
        &_w {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            width: 1200px;
            height: 1600px;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
    &_swiper--slide {
        padding: 20px;
        display: absolute;
        height: 420px;
        width: 30%;
        background-color: rgb(229, 223, 223);
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
    }
    &_content--item {
        margin: 1px;
        padding: 3px;
    }
    &_content--imgs {
        width: 250px;
        display: flex;
    }
    &_content--img1 {
        width: 150px;
        margin: 0;
    }
    &_content--img2 {
        height: 70px;
        margin-bottom: 0;
    }
    &_content--item--html {
        color: white;
        background-color: orange;
    }
    &_content--item--css {
        color: white;
        background-color: blue;
    }
    &_content--item--js {
        color: white;
        background-color: #f9fd19;
    }
    &_content--item--sass {
        color: white;
        background-color: rgb(224, 154, 204);
    }
    &_content--txt {
        font-size: 13px;
    }
    @include m.mq(sp) {
        &_ttls {
            top: 50px;
            left: 0;
        }
        &_swiper_wrapper {
            height: 300px;
            width: 300px;
            top: 130px;
        }
        &_swiper--slide {
            margin: 0 10px;
            width: 100%;
            height: 100%;
            padding: 10px;
        }
        &_content--img1 {
            width: 150px;
            margin: 0;
        }
        &_content--img2 {
            width: 50px;
        }
        &_content--txt {
            display: none;
        }
        &_content--priod {
            display: none;
        }
        &_button {
            right: 0;
            left: 0;
            margin: auto;
            top: 500px;
        }
    }
    &_w {
        position: relative;
    }
}